$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

$primary-fonts: 'Quicksand', sans-serif;

$primary-color: #ec0075;
$secondary-color: #4564dc;

$primary-border-radius: 4px;
$secondary-border-radius: 6px;

$button-transitionanim-time: 0.15s;
$button-transitionanim-style: linear;
$floating-transitionanim-time: 6px;
