<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="icons/favicon.png" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>

  <body>
    <!-- Header: Navbar -->
    <header-app brandName="<%= brandName %>" showToggle></header-app>

    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar: offcanvas -->
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <!-- OffcanvasApp -->
          <offcanvas-app brandName="<%= brandName %>"></offcanvas-app>
        </div>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10 px-md-4 mx-auto" style="max-width: 800px">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Stories from your friends.</h1>
          </div>

          <div id="story-container" class="row g-4"></div>

          <!-- Footer App -->
          <footer-app></footer-app>
        </main>
      </div>
    </div>
  </body>
</html>
